body{
  background:#F0DCE3;
  font-family: helvetica;
}
header{
  background: #D72666;
  font-family: 'Delius Unicase', cursive;
}
nav{
  display: inline-block;
  padding: 20px;
}
a{
  color: white;
  padding: 20px;
}
a:hover, .texto:hover{
  background: #DE9BB4;
}
#icono{
  width: 3%;
  margin-left: 500px;
  display: inline-block;
}
/*.imgContenedor{
  margin:10px 7%;
}*/
.imagenBoton{
  margin-left: 80px;
  display: inline-block;
  width: 200px;
  position: relative;
}
.img{
  display: inline-block;
  width: 210px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid white;
  position: absolute;
}
/*.img:hover{
  opacity: 0.6;
}*/
.cerrar{
  position: absolute;
  margin-top: 20px;
  margin-left: 165px;
  display: inline-block;
  color: #F7EC0A;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
}
.texto{
  display: inline-block;
  background: #D72666;
  color: white;
  text-align: center;
  padding: 7px;
  width: 280px;
}
.botonesContenedor{
  margin-left: 15%;
  margin-top: 200px;
  position: relative;
}
.textoContenedor {
  margin-left: 15%;
}
.p{
  display: inline-block;
  width: 400px;
  text-align: justify;
  padding: 20px;
}
