body{
  background:#F0DCE3;
  font-family: helvetica;
}
header{
  background: #D72666;
  font-family: 'Delius Unicase', cursive;
}
nav{
  display: inline-block;
  padding: 20px;
}
a{
  color: white;
  padding: 20px;
}
a:hover, .texto:hover{
  background: #DE9BB4;
}
#icono{
  width: 3%;
  margin-left: 700px;
  display: inline-block;
}
.imgContenedor{
  margin-left: 10%;
}
.img{
  display: inline-block;
  width: 20%;
  margin: 10px;
  border-radius: 50%;
  border: 10px solid white;
}
.img:hover{
  opacity: 0.6;
}
.texto{
  display: inline-block;
  background: #D72666;
  color: white;
  text-align: center;
  padding: 7px;
  width: 350px;
}
.textoContenedor, .botonesContenedor{
  margin-left: 15%;
}
.p{
  display: inline-block;
  width: 520px;
  text-align: justify;
  padding: 20px;
}
